.mat-tab-label {
  min-width: 72px;
}

.mat-tab-group > .mat-tab-header > .mat-tab-label-container > .mat-tab-list > .mat-tab-labels {
  .mat-tab-label {
    min-width: 72px;
  }
}

.ngx-datatable.material .datatable-header .datatable-header-cell.cellShort {
  padding: .9rem .2rem;
}
